# Docker compose: Nginx, WordPress eta MariaDB haien artean lotzeko

version: '3.8'

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    image: mariadb

    # Sentikorrak ez diren ingurune aldagaiak kargatzen ditu (DB izenak, erabiltzaileak...) 
    
    env_file:
      - .env

    # Fitxategietatik pasahitzak eraikitzen ditu (Secrets)

    secrets:
      - db_root_password
      - db_password

    # Bolumen iraunkorra muntatzen du

    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress

    # Sentikorrak ez diren ingurune aldagaiak kargatzen ditu (URL-ak, DOMAIN_NAME...)
    
    env_file:
      - .env

    # WordPress instalatzeko beharrezko pasahitzak

    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password

    # WordPress fitxategientzako bolumena muntatzen du

    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

    # WordPress, MariaDB prest egon arte itxaroten ari da

    depends_on:
      - mariadb
    restart: always

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: nginx

    # DOMAIN_NAME aldagaia kargatzen du (.env) 

    env_file:
      - .env

    # WordPress fitxategiak irakurtzeko soilik muntatu dira

    volumes:
      - wordpress_data:/var/www/html:ro

    # 443 ataka publikatzen du HTTPS ---> host

    ports:
      - "443:443"
    networks:
      - inception

    # Nginx, WordPress prest egon arte itxaroten ari da

    depends_on:
      - wordpress
    restart: always

networks:
  inception:
    driver: bridge

volumes:

  # Mariadb datuen bolumena

  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/andefern/data/mysql

  # WordPress datuen bolumena
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/andefern/data/wordpress

# /run/secrets/-en muntatutako fitxategiak

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt